<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="ItProger App"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme._1"
        tools:targetApi="31">
        <activity
            android:name=".DobavActivity"
            android:exported="false" />
        <activity
            android:name=".FruActivity"
            android:exported="false" />
        <activity
            android:name=".OrActivity"
            android:exported="false" />
        <activity
            android:name=".VegActivity"
            android:exported="false" />
        <activity
            android:name=".OilActivity"
            android:exported="false" />
        <activity
            android:name=".EgActivity"
            android:exported="false" />
        <activity
            android:name=".FiActivity"
            android:exported="false" />
        <activity
            android:name=".ProdActivity"
            android:exported="false" />
        <activity
            android:name=".KolActivity"
            android:exported="false" />
        <activity
            android:name=".MeActivity"
            android:exported="false" />
        <activity
            android:name=".MolActivity"
            android:exported="false" />
        <activity
            android:name=".BrActivity"
            android:exported="false" />
        <activity
            android:name=".DrActivity"
            android:exported="false" />
        <activity
            android:name=".VarActivity"
            android:exported="false" />
        <activity
            android:name=".DesActivity"
            android:exported="false" />
        <activity
            android:name=".VipActivity"
            android:exported="false" />
        <activity
            android:name=".SouActivity"
            android:exported="false" />
        <activity
            android:name=".PoluActivity"
            android:exported="false" />
        <activity
            android:name=".ZakActivity"
            android:exported="false" />
        <activity
            android:name=".SalActivity"
            android:exported="false" />
        <activity
            android:name=".KasActivity"
            android:exported="false" />
        <activity
            android:name=".ZagoActivity"
            android:exported="false" />
        <activity
            android:name=".GarActivity"
            android:exported="false" />
        <activity
            android:name=".SecondActivity"
            android:exported="false" />
        <activity
            android:name=".GlavActivity"
            android:exported="false" />
        <activity
            android:name=".ItemsActivity"
            android:exported="false" />
        <activity
            android:name=".AuthActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>